
.principal-title {
    font-size: 6em;
    font-weight: 500;
    color: gray;
    letter-spacing: 5px;
    cursor: pointer;
    transition: 1s;
    
    
}
.principal-title:hover {
    color: #fff;
    text-shadow: 0 0 5px rgb(9, 219, 191),
    0 0 25px rgb(9, 219, 191),
    0 0 50px rgb(9, 219, 191),
    0 0 100px rgb(9, 219, 191);
}